*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 514px;
    font-family: 'Inter';
    font-size: 15px;
}

#ext_container{
    display: flex;
    flex-direction: column;
    width: 505px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

#title{
    margin-bottom: 13px;
    align-self: center;
    font-size: 19px;
    font-weight: bold;
}

#day_date_tabs{
    display: flex;
    gap: 3px;
}

#days_mode, #dates_mode{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    width: 249px;
    height: 36px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#days_mode{
    margin-right: -2px;
}

#days_mode:hover, #dates_mode:hover{
    background-color: rgba(217, 217, 217, 0.6);
    color: black;
    border-top: #777777 1px solid;
    border-left: #777777 1px solid;
    border-right: #777777 1px solid;
}

#dates_form_container{
    display: flex;
    width: 505px;
    height: 217px;
    background-color: rgba(217, 217, 217, 0.2);
    border: #777777 1px solid;
    border-top: #777777 1px solid;
    border-left: #777777 1px solid;
    border-right: #777777 1px solid;

}

#input_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    width: 332px;
    height: 217px;
}

#submit_container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 183px;
    height: 217px;
}

#submit_container > button{
    box-sizing: border-box;
    background-color: #00AF6F;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 15px;
    margin:0px ;
    color: white;
    text-align: center;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 30px;
    border: none;
    border-radius: 3px;
}
#preferences{
    display: flex;
    flex-direction: column;
    gap:12px;
}

#date_select{
    display: flex;
    gap:42px;
    margin-left: 50px;
}

#workday{
    margin-left: 4px;
}

#includedate{
    margin-left: 12px;
}

#from_date_container, #to_date_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#from_date_container, #to_date_container > label{
    font-weight: bold;
}

#from_date, #to_date{
    height: 25px;
    width: 110px;
    font-family: 'Inter';
    color: #777777;
    text-align: center;
}

#today_frodate, #today_todate{
    background-color: inherit;
    border: none;
    text-decoration: underline;
    font-size: 15px;
}


.answer_error{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 207, 207);
    border: red 0.5px solid;
    margin-top: 4px;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
    width: 507px;
    height: 90px;
    padding: 46px 150px 46px 150px;
    margin-bottom: 3px;
}


.answer_done{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 175, 111, 0.239);
    border: #00af6f 0.5px solid;
    margin-top: 4px;
    font-size: 15px;
    box-sizing: border-box;
    width: 507px;
    height: 90px;
    padding: 46px 150px 46px 150px;
    margin-bottom: 3px;
}


.mode_selected{
    background-color: rgba(217, 217, 217, 0.6);
    color: black;
    border-top: #777777 1px solid;
    border-left: #777777 1px solid;
    border-right: #777777 1px solid;
}

.mode_unselected{
    background-color: rgba(217, 217, 217, 0.2);
    color: rgba(0, 0, 0, 0.452);
}

span{
    font-weight: bold;
    color: #484848;
}